.checkbox {
  input[type="checkbox"] {
    appearance: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:focus + label::before {
      background-color: $black--Op;
    }

    &:disabled + label {
      opacity: 0.3;
    }
  }

  label {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
    cursor: pointer;

    &::before {
      content: "";
      position: relative;
      top: 2px;
      display: block;
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $white;
      margin-right: 15px;
      cursor: pointer;
    }

    &:hover {
      &::before {
        border: 1px solid $black--Op;
      }
    }

    &:focus + label::before {
      background-color: $black--Op;
    }

    &:active {
      opacity: 0.3;
    }
  }

  input:checked ~ label::after {
    content: url("../img/icon-tick.svg");
    width: 9px;
    height: 6px;
    position: absolute;
    left: 4px;
    top: 1px;
    display: block;
    cursor: pointer;
  }
}
