.feedback {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 670px;
  justify-content: center;
  padding: 60px 60px 84px;
  background:
    url("../img/paper_airplane.png") no-repeat 25% 160px,
    url("../img/triangles.svg") no-repeat 960px 34px,
    url("../img/icon-rectangles-figure.svg") no-repeat 14% -62px,
    linear-gradient(to left, $blue, $blue);
  z-index: 1;

  @media (min-resolution: $retina-dppx) {
    background:
      url("../img/paper_airplane@2x.png") no-repeat 25% 160px/511px 288px,
      url("../img/triangles.svg") no-repeat 960px 34px,
      url("../img/icon-rectangles-figure.svg") no-repeat 14% -62px,
      linear-gradient(to left, $blue, $blue);
  }

  form {
    position: relative;
    width: 630px;
    margin-left: auto;
    padding: 30px;
    flex-shrink: 0;
    z-index: 2;
  }

  @media (max-width: $desktop-adjustments--feedback) {
    background:
      url("../img/triangles.svg") no-repeat 960px 34px,
      url("../img/icon-rectangles-figure.svg") no-repeat 14% -62px,
      linear-gradient(to left, $blue, $blue);
  }

  @media (max-width: $tablet-width) {
    min-height: 600px;
    padding: 50px 60px 74px;
    justify-content: center;
    background: $blue;

    form {
      width: 100%;
      padding-right: 26px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 31px 15px 48px;

    form {
      width: 100%;
      padding: 0;
    }
  }
}

.feedback__container {
  width: 100%;
  max-width: 1230px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: $mobile-width) {
    max-width: 500px;
  }
}

.feedback__promo {
  position: relative;
  width: 44%;
  flex-shrink: 1;

  img {
    position: relative;
    width: 100%;
    height: unset;
    top: 70px;
    left: -6%;
    z-index: 1;
  }

  svg {
    position: absolute;
    width: 130%;
    height: unset;
    top: -150px;
    left: -39%;
    z-index: 0;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
