.logo {
  display: block;
  position: relative;
  flex-shrink: 0;
  top: 10px;
  width: 220px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-decoration: none;

  &:visited {
    color: $black;

    span:not(:first-of-type) {
      color: $slate-grey;
    }
  }

  &--white {
    color: $white;

    &:visited {
      color: $white;
    }
  }

  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
    span {
      display: none;
    }
  }
}

.logo__icon {
  display: block;
  position: relative;
  top: -10px;
  float: left;
  margin-right: 16px;

  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
  }
}

.logo__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
}

.logo__slogan {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.75px;
  color: $slate-grey;
}
