.page-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;

  background: url("../img/polygons.svg") no-repeat 50% -29px;

  @media (max-width: $tablet-width) {
    background-image: url("../img/Polygon3.svg");
    background-position: 211px 89px;
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/Polygon3.svg");
    background-position: -120px 652px;
  }
}
