$white: #ffffff;
$black: #1b2d37;
$black--Op: rgba($black, 0.5);
$blue: #00b2ff;
$gray-smoke: #ebebeb;
$white-smoke:#f2f2f2;
$dim-gray: #666666;
$light-gray: #cdcdcd;
$slate-grey: #788891;
$nordic: #203c42;
$border-concrete: rgba(#626962, 0.2);
$weathered-stone: #c4c4c4;
