$white: #ffffff;
$white-Op10: rgba($white, 0.1);
$true-black: #000000;
$true-black-Op50: rgba($true-black, 0.5);
$black: #1b2d37;
$black--Op: rgba($black, 0.5);
$blue: #00b2ff;
$blue-Op20: rgba($blue, 0.2);
$gray-smoke: #ebebeb;
$white-smoke:#f2f2f2;
$dim-gray: #666666;
$light-gray: #cdcdcd;
$slate-grey: #788891;
$nordic: #203c42;
$border-concrete: rgba(#626962, 0.2);
$weathered-stone: #c4c4c4;
