$white: #ffffff;
$black: #1B2D37;
$black--Op: rgba($black, 0.5);
$blue: #00B2FF;
$gray-smoke: #EBEBEB;
$white-smoke:#F2F2F2;
$dim-gray: #666666;
$light-gray: #CDCDCD;
$slate-grey: #788891;
$nordic: #203C42;
$border-concrete: rgba(#626962, 0.2);
